.wrapper {
  display: flex;
}

.navbar {
  max-width: 260px;
  width: 100%;
  padding: 40px 0 30px 40px;
  border-right: 1px solid rgba(0, 1, 70, 0.28);
}

.main {
  width: 100%;
  height: calc(100vh - 92px);
  padding: 34px 60px 34px 30px;
  overflow-y: scroll;

  @media (max-width: 1300px) {
    padding: 34px 30px;
  }

  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--purple-medium);
    height: 1rem;
  }

  &::-moz-progress-bar {
    background-color: var(--purple-medium);
    width: .5rem;
    height: 1rem;
  }
}