.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 100px 0;
}

.description {
  font-size: 18px;
}

.card_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 110px;
  min-height: 270px;
  border-radius: 4px;
  background-color: var(--white);

  @media (max-width: 1300px) {
    padding: 0 60px;
  }
}

.user_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  h1 {
    font-size: 28px;
    font-weight: 500;
  }

  .details_card_wrapper {
    display: flex;
    gap: 50px;
  }

  .left, .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .details {
    font-size: 18px;
    line-height: 18px;
    height: 40px;
    max-width: 250px;
    overflow: hidden;
    word-break: break-all;
  }
}

.qr_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 106px;
  width: 100%;
  gap: 17px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    gap: 5px;
    border-radius: 8px;
    border: 1px solid var(--purple-main);
    font-size: 10px;
    color: var(--purple-main);
    transition: .2s ease;

    &:hover {
      border: 1px solid var(--blue-light);
      background-color: var(--blue-light);
      color: var(--gray-dark);
    }

    &:hover svg path {
      stroke: var(--gray-dark);
    }
  }
}