.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 362px;
  width: 100%;
}

.title {
  font-size: 36px;
  font-weight: 500;
}

.inputs_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  input {
    width: 100%;
    height: 44px;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    background-color: var(--white);
    padding-left: 20px;
    font-size: 12px;

    &::placeholder {
      color: rgba(0, 1, 70, 0.28);
    }
  }

  span {
    font-size: 12px;
    font-weight: 500;
    color: var(--purple-main);
    cursor: pointer;
  }
}

.form_bottom {
  display: flex;
  flex-direction: column;
  gap: 18px;

  p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;

    span {
      font-size: 14px;
      color: var(--purple-main);
      cursor: pointer;
    }
  }
}

.btn_active {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--purple-main);
  transition: .2s ease;
}

.btn_unactive {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  color: var(--gray);
  background-color: var(--blue-light);
  cursor: default;
  transition: .2s ease;
}