.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 362px;
  width: 100%;
}

.title {
  font-size: 36px;
  font-weight: 500;
}

.inputs_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  input {
    width: 100%;
    height: 44px;
    border: 1px solid var(--gray-300);
    border-radius: 4px;
    padding-left: 20px;
    font-size: 12px;
  }

  span {
    font-size: 12px;
    font-weight: 500;
    color: var(--purple);
    cursor: pointer;
  }
}

.form_bottom {
  display: flex;
  flex-direction: column;
  gap: 18px;

  p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;

    span {
      font-size: 14px;
      color: var(--purple);
      cursor: pointer;
    }
  }
}

.btn_active {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--purple);
}

.btn_unactive {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--ligth-purple);
  cursor: default;
}