.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.left_group {
  img {
    height: 390px;
  }
}

.center_group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 15px;
}

.right_group {
  display: flex;
  flex-direction: column;
  gap: 26px;

  img {
    height: 182px;
  }
}

