.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 123px 0 60px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    font-size: 28px;
    font-weight: 500;
  }

  .filter_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 18px;
    color: var(--purple-main);
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}