.form {
  display: flex;
  gap: 115px;
  margin: 60px 0 110px 0;
}

.left, .right {
  max-width: 445px;
  width: 100%;
}

.left_head {
  display: flex;
  align-items: center;
  gap: 70px;

  h4 {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-900);
  }

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #828282;
  }
}

.left_main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 29px;
}

.select_container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 18px;
    color: var(--gray-900);
  }

  p {
    font-size: 14px;
    font-family: 'FuturaPT';
  }
}

.left_buttons_wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 78px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  border: 1px solid var(--purple-main);
  border-radius: 10px;
  color: var(--purple-main);
  width: 170px;
  height: 34px;
  transition: .2s ease;

  &:hover {
    border: 1px solid var(--blue-light);
    background-color: var(--blue-light);
    color: var(--gray-dark);
  }

  &:hover svg path {
    stroke: var(--gray-dark);
  }
}

.right {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.tag_params {
  display: flex;
  align-items: center;
  gap: 6px;
}

.buttons_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
  p {
    font-size: 14px;
  }

  .buttons_three {
    display: flex;
    align-items: center;
    gap: 16px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      border: 1px solid var(--purple-main);
      border-radius: 8px;
      color: var(--purple-main);
      padding: 6px 20px;
      transition: .2s ease;

      &:hover {
        border: 1px solid var(--blue-light);
        background-color: var(--blue-light);
        color: var(--gray-dark);
      }

      &:hover svg path {
        stroke: var(--gray-dark);
      }
    }
  }
}

.down_buttons_container {
  display: flex;
  gap: 20px;
}

.down_buttons__left, .down_buttons__right {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    font-size: 14px;
  }
}

.btn, .file_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 170px;
  height: 34px;
  border: 1px solid var(--purple-main);
  border-radius: 10px;
  font-size: 16px;
  color: var(--purple-main);
  transition: .2s ease;

  &:hover {
    border: 1px solid var(--blue-light);
    background-color: var(--blue-light);
    color: var(--gray-dark);
  }

  &:hover svg path {
    stroke: var(--gray-dark);
  }
}

.btn svg, .file_btn svg{
  width: 15px;
  height: 15px;
}

.hidden {
  display: none;
}