@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Jost-Regular.ttf'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Jost-Medium.ttf');
}

@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Jost-SemiBold.ttf');
}

:root {
  /* Colors */
  --white: #FFFFFF;
  --gray-bg: #F4F6FA;
  --gray-light: #DEDEE2;
  --gray: #787882;
  --gray-dark: #3D3D3D;
  --gray-900: #282828;

  --green-main: #C0E64F;
  --green-icon: #8FB12B;
  --blue-light: #ADD6FD;
  --purple-medium: #7179B8;
  --purple-main: #5C5EDC;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Jost';
  font-weight: 400;
  color: var(--gray-dark);
  background-color: var(--gray-bg);
}