.container {
  width: 100%;
}

.wrapper {
  display: flex;
}

.navbar {
  max-width: 260px;
  width: 100%;
  
  background-color: var(--purple-main);
  padding: 40px 0 0 40px;
}

.main {
  width: 100%;
  height: calc(100vh - 92px);
  padding: 34px 30px;
  background-color: var(--gray-bg);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--purple-light);
    height: 1rem;
  }

  &::-moz-progress-bar {
    background-color: var(--purple-light);
    width: .5rem;
    height: 1rem;
  }
}