.wrapper {

  button {
    width: 166px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--purple-main);
    font-size: 14px;
    color: var(--white);
    transition: .2s ease;

    &:active {
      transform: scale(0.95);
    }
  }
}