.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 1, 70, 0.28);
}

.tarifs_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.tarif {
  display: flex;
  flex-direction: column;
  gap: 2px;

  p {
    font-size: 16px;
    line-height: 16px;
  }

  span {
    font-size: 16px;
    line-height: 16px;
  }
}

.tarifs_info {
  p {
    font-size: 16px;
    line-height: 16px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 156px;
  height: 40px;
  border: 1px solid var(--gray-dark);
  border-radius: 10px;
  color: var(--gray-dark);
  font-size: 14px;
  transition: .2s ease;
}

.btn:hover {
  border: 1px solid var(--blue-light);
  background-color: var(--blue-light);
  transition: .2s ease;
}

.user_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.user_logo {
  width: 29px;
  height: 29px;
  border-radius: 50%;
}

.user_name {
  font-size: 18px;
  color: var(--gray);
}