.active {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: .2s ease;
  color: var(--purple-main);
}

.active svg path, .active svg g path {
  stroke: var(--purple-main);
}